<section>
  <p balance>
    A <mark>&lt;header&gt;</mark> element represents <br />
    the principal interaction part of a web content
  </p>
  <p note>
    NOTE: When used inside an <mark>article</mark> element <br />
    represents its principal interaction part
  </p>
</section>
<section>
  <p balance>A <mark>&lt;header&gt;</mark> typically contains:</p>
  <small>
    <ul>
      <li>brand/logo</li>
      <li>a set of navigation links</li>
      <li>user menu/profile</li>
    </ul>
  </small>
</section>
