<section>
  <p balance>
    The <mark>&lt;main&gt;</mark> element is used to designate <br />
    the primary content area of a web page.
  </p>
  <p note>NOTE: Ensure there is <mark>only one</mark> main element per page</p>
</section>
<section>
  <p balance>The <mark>&lt;main&gt;</mark> is intended to improve accessibility and document structure by <mark>clearly indicating</mark> the subject matter of the page.</p>
</section>
<section>
  <p balance>
    The <mark>&lt;main&gt;</mark> typically <mark>excludes</mark> content that repeats across multiple pages, such as: headers, navs, sidebars, footers.</p>
  </small>
</section>
