<section>
  <p balance>An <mark>&lt;aside&gt;</mark> element defines some content aside from the content it is placed in, its content should be <mark>indirectly related</mark> to the surrounding content</p>
</section>
<section>
  <p balance>An <mark>&lt;aside&gt;</mark> typically contains:</p>
  <small>
    <ul>
      <li>Related articles or links</li>
      <li>Author information or bios</li>
      <li>Advertisements</li>
      <li>Widgets (e.g., search, recent posts)</li>
      <li>Navigation that relates to the current page or section</li>
    </ul>
  </small>
</section>
