<section>
  <p balance>A <mark>&lt;article&gt;</mark> element represents a self-contained, reusable piece of content that can stand alone or be distributed independently (picture <mark>Google News</mark>)</p>
</section>
<section>
  <p balance>A <mark>&lt;article&gt;</mark> typically contains:</p>
  <small>
    <ul>
      <li>product card</li>
      <li>advertising</li>
      <li>news/magazine article</li>
      <li>user comment</li>
      <li>blog/forum post</li>
    </ul>
  </small>
</section>
