<section>
  <h4 balance>What about <mark>nesting</mark> Articles and Sections? Is that <mark>possible</mark>?</h4>
</section>
<section>
  <p>Let's explore <mark>some examples</mark>!</p>
</section>
<section>
  <example code>
    <small>section-with-nested-articles.html</small>
    <pre>
      <code class="language-html hljs" data-trim data-line-numbers>
        &lt;section&gt;
          &lt;h1&gt;Latest News&lt;/h1&gt;
          &lt;article&gt;
              &lt;h2&gt;Headline 1&lt;/h2&gt;
              &lt;p&gt;Content of the first article.&lt;/p&gt;
          &lt;/article&gt;
          &lt;article&gt;
              &lt;h2&gt;Headline 2&lt;/h2&gt;
              &lt;p&gt;Content of the second article.&lt;/p&gt;
          &lt;/article&gt;
        &lt;/section&gt;
      </code>
    </pre>
  </example>
</section>
<section>
  <example code>
    <small>article-with-nested-sections.html</small>
    <pre>
      <code class="language-html hljs" data-trim data-line-numbers>
        &lt;article&gt;
          &lt;h1&gt;Understanding Flexbox&lt;/h1&gt;
          &lt;section&gt;
              &lt;h2&gt;Introduction&lt;/h2&gt;
              &lt;p&gt;Flexbox is a layout model...&lt;/p&gt;
          &lt;/section&gt;
          &lt;section&gt;
              &lt;h2&gt;Examples&lt;/h2&gt;
              &lt;p&gt;
                Here are some common use-cases
                for Flexbox.
              &lt;/p&gt;
          &lt;/section&gt;
        &lt;/article&gt;
      </code>
    </pre>
  </example>
</section>
<section>
  <example code>
    <small>article-with-nested-articles.html</small>
    <pre>
      <code class="language-html hljs" data-trim data-line-numbers>
        &lt;article&gt;
          &lt;h1&gt;Blog Post Title&lt;/h1&gt;
          &lt;p&gt;Content of the blog post.&lt;/p&gt;
          &lt;article&gt;
              &lt;h2&gt;Comment 1&lt;/h2&gt;
              &lt;p&gt;This is a comment.&lt;/p&gt;
          &lt;/article&gt;
          &lt;article&gt;
              &lt;h2&gt;Comment 2&lt;/h2&gt;
              &lt;p&gt;This is another comment.&lt;/p&gt;
          &lt;/article&gt;
        &lt;/article&gt;
      </code>
    </pre>
  </example>
</section>
<section>
  <example code>
    <small>section-with-nested-sections.html</small>
    <pre>
      <code class="language-html hljs" data-trim data-line-numbers>
        &lt;section&gt;
          &lt;h1&gt;Chapter 1&lt;/h1&gt;
          &lt;section&gt;
              &lt;h2&gt;Section 1.1&lt;/h2&gt;
              &lt;p&gt;Details of section 1.1&lt;/p&gt;
          &lt;/section&gt;
          &lt;section&gt;
              &lt;h2&gt;Section 1.2&lt;/h2&gt;
              &lt;p&gt;Details of section 1.2&lt;/p&gt;
          &lt;/section&gt;
        &lt;/section&gt;
      </code>
    </pre>
  </example>
</section>
<section>
  <p balance>Can we use the <mark>&lt;article&gt;</mark> and <mark>&lt;section&gt;</mark> definitions to <mark>decide how to nest</mark> them?</p>
</section>
<section>
  <h4><mark>Nope</mark>!</h4>
</section>
<section>
  <p balance>
    The HTML specs <mark>does not place any restrictions</mark> on the table about how these elements can be nested. Which means <mark>all of the above examples</mark> are valid and semantically
    correct, so easy!
  </p>
</section>
