<section>
  <p balance>A <mark>&lt;footer&gt;</mark> element represents the last part for a document or a section. This means you can have multiple footer in one HTML document</p>
  <p note>
    NOTE: When used inside an <mark>article</mark> element <br />
    represents its last interaction part
  </p>
</section>
<section>
  <p balance>A <mark>&lt;footer&gt;</mark> typically contains:</p>
  <small>
    <ul>
      <li>related links</li>
      <li>back to top links</li>
      <li>contact information</li>
      <li>copyright/author information</li>
    </ul>
  </small>
</section>
