<section>
  <section>
    <h4>Semantic HTML <mark>Layout</mark></h4>
  </section>
  <section>
    <p balance>
      The following is just an <mark>example</mark> of a Semantic HTML layout structure, an example of how <mark>semantics helps</mark> to design, develop and read a web content from the
      <mark>right perspective</mark>
    </p>
  </section>
  <section>
    <pre>
      <code class="hljs html" data-trim data-line-numbers>
        &lt;header&gt;header&lt;/header&gt;
        &lt;nav&gt;nav&lt;/nav&gt;
        &lt;main&gt;
          main
          &lt;section&gt;section&lt;/section&gt;
          &lt;article&gt;article&lt;/article&gt;
        &lt;/main&gt;
        &lt;aside&gt;aside&lt;/aside&gt;
        &lt;footer&gt;footer&lt;/footer&gt;
      </code>
    </pre>
  </section>
  <include src="./slides/topics/semantic-html/layout/_layout-header.html"></include>
  <include src="./slides/topics/semantic-html/layout/_layout-nav.html"></include>
  <include src="./slides/topics/semantic-html/layout/_layout-footer.html"></include>
  <include src="./slides/topics/semantic-html/layout/_layout-aside.html"></include>
  <include src="./slides/topics/semantic-html/layout/_layout-main.html"></include>
  <include src="./slides/topics/semantic-html/layout/_layout-section.html"></include>
  <include src="./slides/topics/semantic-html/layout/_layout-article.html"></include>
  <include src="./slides/topics/semantic-html/layout/_layout-articles-and-sections.html"></include>
</section>
